/*******************************************
Global
*******************************************/

.bg-appli {
    background-color: #000018;
}

.mt-negative {
    margin-top: -50px;
}

.puce-suppression {
    list-style-type: none;
}

.imglogo{
    width: 300px;
}

/*******************************************
Menu
*******************************************/

.row-rank td img {
    width: 20px;
}

.row-rank:hover {
    background-color: #000040;
}